{% extends 'main/index.html' %}

{% block content %}
  <h1>Kulturni događaji</h1>

  <form method="get">
    <input type="text" name="ime" placeholder="Pretraži po imenu događaja">
    <input type="text" name="lokacija" placeholder="Pretraži po lokaciji">
    <input type="date" name="datum" placeholder="Pretraži po datumu">
    <button type="submit">Pretraži</button>
</form>

  <ul>
    {% for dogadaj in dogadaji %}
      <li>
        <a href="{% url 'main:dogadaj_detail' dogadaj.pk %}"><strong>{{ dogadaj.ime }}</strong> </a>
        - {{ dogadaj.lokacija }} ({{ dogadaj.datum }}, {{ dogadaj.vrijeme }})
        <br>{{ dogadaj.opis }}
      </li>
    {% empty %}
      <li>Nema dostupnih događaja.</li>
    {% endfor %}
  </ul>
{% endblock %}
